
body{
    background-image: url(/assets/img/image\ 2.png);
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
.logo{
  margin-top: 2%;
  margin-left: 2%;
}
/* .container{
    display: flex;
    flex-wrap: wrap;
} */
/* Contenedor ficha película */
.container{
    display:flex;
    flex-direction:row;
    align-content: stretch;
    justify-content: stretch;
    align-items: stretch;
    margin-top: 5%;
  

}

.pelicula{
  display: flex;
}

.product-list{
    margin-top: 20px;
}

.card{
    background: rgb(212, 52, 52);
    padding: 15px;
    min-width: 200px;
    display: inline-block;
    margin-bottom: 18px;
    margin-right: 18px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgb(0 0 0 / 38%);
}

.card .options{
    margin-top: 8px;
}

.btn-close-form{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    position: absolute;
    right: -12px;
    top: -12px;
}



.form-content{
    padding: 25px;
    border-radius: 8px;
    position: relative;
    background-color: rgb(20, 163, 163);
    max-width: 300px;
    margin: 1.75rem auto;
}

.form-content .control{
    padding: 5px 0;
}

.form-content .form-footer{
    margin-top: 8px;
}

label {
    width: 70px;
    display: inline-block;
}

.modal{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(o, 0, 0, 0.3);
    z-index: 100;
}

.msg-error {
    color: orange;
    display: block;
    margin-top: 10px;
}

.alert {
    padding: 10px 20px;
    border-radius: 8px;
    display: none;
    position: absolute;
    bottom: 80px;
    right: 38px;
    z-index: 150;
}

.alert.success{
    background: #8eed8e;
    border: 1px #68d568 solid;
    color: #15548d;
}

.alert.error{
    background: #ffb6b6;
    border: 1px #68d568 solid;
    color: #8a8686;
}