.wrapper {
  display:flex;
  margin-top: 10px;
  flex-wrap: wrap;
  position: relative;
  display: inline-block;
  
}

.retro-btn {
  text-transform: uppercase;
  background: 0 0;
}

.retro-btn.info .btn .btn-inner .content-wrapper .btn-content {
  background-color: #33b5e5;
}

.retro-btn .btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  font-weight: 600;
  font-family: inherit;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: auto;
  text-decoration: none;
  text-align: center;
  -webkit-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
  width: 240px;
  height: 46px;
  font-size: 12px;
  text-decoration-color: initial;
 }

.retro-btn .btn, .retro-btn .btn:focus {
  outline-color: 0;
  outline-style: none;
  outline-width: 0;
}


.retro-btn .btn.btn-left .btn-content {
  -webkit-transform: skewY(-1deg);
  transform: skewY(-1deg);
}
.retro-btn .btn.btn-right:before {
  -webkit-transform: skewY(-1deg) translate3d(0, -0.5px, 0);
  transform: skewY(-1deg) translate3d(0, -0.5px, 0);
}
.retro-btn .btn.btn-right .btn-content {
  -webkit-transform: skewY(1deg);
  transform: skewY(1deg);
}
.retro-btn .btn.btn-center .btn-content {
  -webkit-transform: translate3d(0, 1px, 0);
  transform: translate3d(0, 1px, 0);
}
.retro-btn .btn.btn-active .btn-inner .content-wrapper .btn-content {
  -webkit-transition: background 0.12s ease-out, color 0.12s ease-out, -webkit-transform 0.12s ease-out;
  transition: background 0.12s ease-out, color 0.12s ease-out, -webkit-transform 0.12s ease-out;
  transition: transform 0.12s ease-out, background 0.12s ease-out, color 0.12s ease-out;
  transition: transform 0.12s ease-out, background 0.12s ease-out, color 0.12s ease-out, -webkit-transform 0.12s ease-out;
  -webkit-transform: translate3d(0, 2px, 0);
  transform: translate3d(0, 2px, 0);
}
.retro-btn .btn.btn-active .btn-inner .content-wrapper .btn-content .btn-content-inner {
  opacity: 0.1;
}
.retro-btn .btn.btn-active:before {
  -webkit-transform: translate3d(0, -3px, 0);
  transform: translate3d(0, -3px, 0);
}
.retro-btn .btn .btn-inner {
  display: block;
  height: 100%;
}
.retro-btn .btn .btn-inner .content-wrapper {
  position: relative;
  font-family: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  height: calc(100% - 3px);
  margin-top: -3px;
}
.retro-btn .btn .btn-inner .content-wrapper:after, .retro-btn .btn .btn-inner .content-wrapper:before, .retro-btn .btn .btn-inner .content-wrapper .btn-content:after, .retro-btn .btn .btn-inner .content-wrapper .btn-content:before, .retro-btn .btn .btn-inner .content-wrapper .btn-content .btn-content-inner:before {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.retro-btn .btn .btn-inner .content-wrapper .btn-content {
  background-image: initial;
  background-color: #611dbb;
  color: #f8ebf4;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 3px;
  text-indent: 0;
  z-index: 3;
  overflow: hidden;
  padding: 0 16px;
  -webkit-transition: border 0.185s ease-out, background 0.185s ease-out, color 0.185s ease-out, -webkit-transform 0.185s ease-out;
  transition: border 0.185s ease-out, background 0.185s ease-out, color 0.185s ease-out, -webkit-transform 0.185s ease-out;
  transition: border 0.185s ease-out, transform 0.185s ease-out, background 0.185s ease-out, color 0.185s ease-out;
  transition: border 0.185s ease-out, transform 0.185s ease-out, background 0.185s ease-out, color 0.185s ease-out, -webkit-transform 0.185s ease-out;
}

.retro-btn .btn .btn-inner .content-wrapper .btn-content .btn-content-inner:before {
  content: attr(label);
  padding-top: 9.5px;
  font-size: 0.8em;
  font-family: "Press Start 2P", cursive;
  letter-spacing: 0.06em;
  -webkit-transition: opacity 0.3s ease-out, background-color 0.1125s ease-in;
  transition: opacity 0.3s ease-out, background-color 0.1125s ease-in;
  opacity: 1;
  z-index: -1;
}



